@tailwind base;
@tailwind components;
@tailwind utilities;

.main-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html {
  overflow-y: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;
}

.scrollbar-invise {
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;
}
